<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login Form Tutorial</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
    </style>
</head>

<body>
    <div class="login-form">
        <h1>Login Form</h1>
        <form action="/login" method="POST">
            <input type="text" name="name" placeholder="name" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="submit">
        </form>
    </div>
</body>